# Environment
NODE_ENV=development

COMPANY_NAME="MyCompany"
SITE_NAME="Commerce"

# Shopify
## Storefront API
NEXT_PUBLIC_SHOPIFY_REVALIDATION_SECRET=""
NEXT_PUBLIC_SHOPIFY_PRIVATE_STOREFRONT_API_TOKEN="<your-private-token>"
NEXT_PUBLIC_SHOPIFY_PUBLIC_STOREFRONT_API_TOKEN="<your-public-token>"
NEXT_PUBLIC_SHOPIFY_STOREFRONT_URL="https://mock.shop/"
NEXT_PUBLIC_SHOPIFY_STOREFRONT_API_VERSION="2025-07"

## Locale
NEXT_PUBLIC_SHOPIFY_COUNTRY_ISO_CODE="EN"
NEXT_PUBLIC_SHOPIFY_LANGUAGE_ISO_CODE="EN"


# Public API URL
NEXT_PUBLIC_API_URL="https://example.com/api"
NEXT_PUBLIC_LOCALE="en-US"

# Supabase
SUPABASE_URL="https://your-supabase-url.supabase.co"
SUPABASE_ANON_KEY="your-anon-key"